In [1]:
a=9
b=2
c=a+b
d=a-b
e=a/b
f=a%b
g=a*b
print(c,d,e,f,g)

30 -10 0.5 10 200

In [4]:
a=9
b=2
d=a//b
print(d)

4

In [5]:
print(type(a))

<class 'int'>

In [6]:
h="test"
print(type(h))

<class 'str'>

In [7]:
i='values'
j=h+i
print(j)

testvalues

In [149]:
input("enter a value")

enter a value6

'6'

In [150]:
mylist=["hello",23,"hai","pets",5,78,False]
print(mylist[2])

hai

# List

In [2]:
print(mylist)

NameError: name 'mylist' is not defined

In [71]:
print(mylist[-2:])

[78, False]

In [12]:
print(mylist[2:4])

['hai', 'pets']

In [15]:
print(type(mylist[-1]))

<class 'bool'>

In [22]:
print(mylist[0:7:1])

['hello', 23, 'hai', 'pets', 5, 78, False]

In [23]:
print(mylist[0:7:-1])

[]

In [25]:
print(mylist[-1::-2])

[False, 5, 'hai', 'hello']

In [26]:
print(mylist[-1:4])

[]

In [27]:
print(mylist[-1::-3])

[False, 'pets', 'hello']

In [28]:
mylist.append(45)

In [29]:
print(mylist)

['hello', 23, 'hai', 'pets', 5, 78, False, 45]

In [32]:
mylist.insert(3,"steps")#   inserting the values between 2 items

In [33]:
print(mylist)

['hello', 23, 'hai', 'steps', 'steps', 'steps', 'pets', 5, 78, False, 45]

In [38]:
mylist.remove(67)   #removing the items from list by giving item name

In [40]:
print(mylist)

['hello', 23, 'hai', 'steps', 'pets', 5, 78, False]

In [41]:
mylist.pop(10)

IndexError: pop index out of range

In [58]:
we=mylist
id(we)   # assigning the item to another variable..if we change any items in 'mylist' then it will be change in 'we' variable also

2481534552448

In [48]:
print(we)

['hello', 23, 'hai', 'pets', 5, 78, False]

In [46]:
mylist.remove("steps")

In [47]:
print(mylist)

['hello', 23, 'hai', 'pets', 5, 78, False]

In [49]:
we=mylist.copy()#it will take a copy of  mylist to the variable 'we'

In [50]:
print(we)

['hello', 23, 'hai', 'pets', 5, 78, False]

In [51]:
mylist.remove(78)

In [52]:
print(mylist)

['hello', 23, 'hai', 'pets', 5, False]

In [53]:
print(we)

['hello', 23, 'hai', 'pets', 5, 78, False]

In [55]:
id(we)

2481534552832

In [56]:
id(mylist)

2481534552448

In [62]:
mylist.count(23)#it will check how many time the item is present in the list

1

In [2]:
yell=[45,45,34,21,21,21,56,"rest","rest"]

In [3]:
print(yell)

[45, 45, 34, 21, 21, 21, 56, 'rest', 'rest']

In [65]:
yell.count("rest")

2

In [6]:
test2=[12,"guess","rest",89]

In [8]:
print(test2)

[12, 'guess', 'rest', 89]

In [10]:
yell.extend(test2)   #  it will append the 2 lists

In [12]:
print(yell)

[45, 45, 34, 21, 21, 21, 56, 'rest', 'rest', 12, 'guess', 'rest', 89, 12, 'guess', 'rest', 89]

In [14]:
yell.pop(7)  #using index value we can delete the item

'rest'

In [17]:
yell.index(89)# using index it will return the index values of the item

10

In [19]:
print(yell)

[45, 45, 34, 21, 21, 21, 56, 12, 'guess', 'rest', 89, 12, 'guess', 'rest', 89]

In [25]:
yell.reverse()# print the list in  reverse order

In [44]:
visit=["dog","cat","sparrow","hen"]
visit.reverse()

In [45]:
print(visit)

['hen', 'sparrow', 'cat', 'dog']

In [36]:
visit.reverse()

In [38]:
print(visit)

['dog', 'cat', 'sparrow', 'hen']

In [41]:
ls = [1,2,3,4,5]
ls.reverse()

In [46]:
print(ls)

[5, 4, 3, 2, 1]

In [50]:
ls.sort() #sort will arrage in ascending and descending order

In [52]:
print(ls)

[1, 2, 3, 4, 5]

In [58]:
visit.sort(reverse=False)

In [60]:
print(visit)

['cat', 'dog', 'hen', 'sparrow']

In [62]:
visit.clear()

In [64]:
print(visit)

[]

In [67]:
print(test2)

[89, 'rest', 'guess', 12]

In [73]:
print(test2[0:])

[89, 'rest', 'guess', 12]

In [79]:
print(test2[-1::-1])

[12, 'guess', 'rest', 89]

In [88]:
print(test2)

NameError: name 'test2' is not defined

In [87]:
del test2

In [90]:
print(yell)

[89, 'rest', 'guess', 12, 89, 'rest', 'guess', 12, 56, 21, 21, 21, 34, 45, 45]

In [94]:
del yell[9:12]

In [96]:
print(yell)

[89, 'rest', 'guess', 12, 89, 'rest', 'guess', 12, 56]

In [98]:
yell.remove("guess")

In [100]:
print(yell)

[89, 'rest', 12, 89, 'rest', 12, 56]

In [104]:
del yell[0:6:2]

In [105]:
print(yell)

[]

In [15]:

yell=["dee","see","ree",23,56]

In [16]:
3*yell

['dee',
 'see',
 'ree',
 23,
 56,
 'dee',
 'see',
 'ree',
 23,
 56,
 'dee',
 'see',
 'ree',
 23,
 56]

In [122]:
print(yell)

['dee', 'see', 'ree', 23, 56]

In [110]:
print(yell[0::2])

['dee', 'ree', 56]

In [123]:
del yell[0:2]

In [124]:
print(yell)

['ree', 23, 56]

In [130]:
del yell[0::2]
print(yell)

['see', 23]

In [131]:
yell.reverse()

In [133]:
print(yell)

[23, 'see']

In [135]:
sorted(yell)

TypeError: '<' not supported between instances of 'str' and 'int'

In [141]:
uv=["tee",",hee","kee","mist"]

In [137]:
print(uv)

['tee', ',hee', 'kee']

In [138]:
sorted(uv)

[',hee', 'kee', 'tee']

In [143]:
sorted(uv,reverse=False)

[',hee', 'kee', 'mist', 'tee']

In [145]:
uv.sort(reverse=True)

In [146]:
print(uv)

['tee', 'mist', 'kee', ',hee']

In [147]:
'''sssssssss
ssssssss
vvvvvvvvv'''

'sssssssss\nssssssss\nvvvvvvvvv'

# Tuple

In [2]:
tup=(12,"single","double",45)

In [4]:
print(tup)

(12, 'single', 'double', 45)

In [7]:
tup.count("single") # it will check how many time the item is present

1

In [9]:
tup.index("double")# using index it will return the index values of the item

2

In [11]:
tup1=("test","hello","hai","dog",34)

In [13]:
tup+tup1

(12, 'single', 'double', 45, 'test', 'hello', 'hai', 'dog', 34)

In [21]:
5*tup

(12,
 'single',
 'double',
 45,
 12,
 'single',
 'double',
 45,
 12,
 'single',
 'double',
 45,
 12,
 'single',
 'double',
 45,
 12,
 'single',
 'double',
 45)

In [25]:
tup=12,"single","double",45

In [26]:
print(tup)

(12, 'single', 'double', 45)

# Set

In [1]:
seat={24,"test","ott",67,67}

In [2]:
print(seat)

{24, 'ott', 67, 'test'}

In [32]:
seat[4]="adding"

TypeError: 'set' object does not support item assignment

In [34]:
print(seat[1])

TypeError: 'set' object is not subscriptable

In [3]:
seat.add("seating") # Add an item to a set

In [4]:
print(seat)

{67, 'test', 'ott', 24, 'seating'}

In [5]:
seat2= seat.copy() #it will take a copy of  'seat' to the variable 'seat2'

In [6]:
print(seat2)

{'ott', 67, 'test', 24, 'seating'}

In [7]:
single={"eat","drink",78,90}

In [8]:
print(single)

{78, 90, 'eat', 'drink'}

In [23]:
a={12,15,25,35,48,55}
b={12,45,34,48,56,78,89}

In [10]:
print(a,b)

{35, 12, 15, 48, 55, 25} {34, 12, 45, 78, 48, 56, 89}

In [11]:
print(a-b)

{25, 35, 55, 15}

In [12]:
print(b-a)

{34, 45, 78, 56, 89}

In [18]:
a.difference(b)'''#it will return the set contains items that exist only in the first set, and not in both sets."A-B               For example X.difference(Y) would return a Set that contains the elements that are in Set X but not in Set Y.'''

{15, 25, 35, 55}

In [24]:
print(a)

{35, 12, 15, 48, 55, 25}

In [20]:
a.difference_update(b) #the difference value will update in the first set

In [21]:
print(a)

{35, 15, 55, 25}

In [69]:
a.discard(55)
print(a)# if the item to remove does not exist, discard() will NOT raise an error

{35, 15, 25}

In [72]:
a.intersection(b)# the elements that are common to both the sets

{12, 48}

In [74]:
a.isdisjoint(b)# if the values from set a and b is not match then it will bring true...(if there is no common vales from set a & b thn it will return true

False

In [26]:
c={34,56,89}

In [27]:
print(c)

{56, 89, 34}

In [28]:
b

{12, 34, 45, 48, 56, 78, 89}

In [80]:
c.intersection(b)#

{34, 56, 89}

In [83]:
b.intersection(c)

{34, 56, 89}

In [91]:
c.issubset(b)   ''' #checks whether a given Set is a subset of another specified Set.
                 If all the elements of a given Set is present in another Set then the given set 
                 is called the subset of another Set.it will return true or false values..part of b is present in a'''

True

In [87]:
c.issubset(a)

False

In [89]:
c.issuperset(b)#it returns True if all items in the specified set are present in the original set, otherwise FALSE.

False

In [92]:
b.issuperset(c)

True

In [94]:
b.pop()# it will remove any 1 of the values

12

In [96]:
b.remove(45)

KeyError: 45

In [100]:
print(b)

{78, 48, 89}

In [105]:
b.remove(56)# remove the items from the sets

KeyError: 56

In [107]:
print(a,b)

{35, 12, 15, 48, 55, 25} {34, 12, 45, 78, 48, 56, 89}

In [109]:
a.symmetric_difference(b) #The elements present in either of the two sets, but not common to both the sets

{15, 25, 34, 35, 45, 55, 56, 78, 89}

In [111]:
a.union(b)# AUB it will get the all the values from both the set

{12, 15, 25, 34, 35, 45, 48, 55, 56, 78, 89}

In [113]:
a.update(100)

TypeError: 'int' object is not iterable

In [115]:
a.update({100,120})# it will add the another set values in 1st set

In [117]:
print(a)

{35, 100, 12, 15, 48, 55, 120, 25}

# Dictionary

In [40]:
d={"name":"dog","age":12,"colour":"black","name":"eat", "col":"black"}

In [41]:
print(d)

{'name': 'eat', 'age': 12, 'colour': 'black', 'col': 'black'}

In [42]:
d["name"]="dog"

In [43]:
print(d)

{'name': 'dog', 'age': 12, 'colour': 'black', 'col': 'black'}

In [46]:
x=("tec", 56,"key",90)
y=("IT","CS")

In [47]:
print(x,y)

('tec', 56, 'key', 90) ('IT', 'CS')

In [50]:
 d.fromkeys(y,x)

{'IT': ('tec', 56, 'key', 90), 'CS': ('tec', 56, 'key', 90)}

In [51]:
d['age']

12

In [23]:
d.get("age")

12

In [26]:
d.get(12)
print(d)

{'name': 'dog', 'age': 12, 'colour': 'black', 'col': 'black'}

In [28]:
d.items()

dict_items([('name', 'dog'), ('age', 12), ('colour', 'black'), ('col', 'black')])

In [30]:
d.keys()

dict_keys(['name', 'age', 'colour', 'col'])

In [33]:
d.pop("col")

KeyError: 'col'

In [40]:
print(d)

{'name': 'cat', 'age': 12, 'colour': 'black', 'col': 'black'}

In [37]:
d.popitem()

('age', 12)

In [42]:
d.setdefault("year")

In [44]:
print(d)

{'name': 'cat', 'age': 12, 'colour': 'black', 'col': 'black', 'year': None}

In [48]:
d.update({"model":"Robo","age":23})

In [49]:
print(d)

{'name': 'dog', 'age': 23, 'colour': 'black', 'col': 'black', 'year': None, 'model': 'Robo'}

In [50]:
d.values(23)

TypeError: values() takes no arguments (1 given)

In [52]:
d.values()

dict_values(['dog', 23, 'black', 'black', None, 'Robo'])

In [57]:
lst = [11,18,9,12,23,4,17]
lost = []
for idx in range(len(lst)):
    print(idx)
    val=lst[idx]
    print("lst[idx]",lst[idx])
    if val > 15:
        lost.append(val)
        lst[idx] = 15
        print("modif:",lst,"-lost:",lost)

0
lst[idx] 11
1
lst[idx] 18
modif: [11, 15, 9, 12, 23, 4, 17] -lost: [18]
2
lst[idx] 9
3
lst[idx] 12
4
lst[idx] 23
modif: [11, 15, 9, 12, 15, 4, 17] -lost: [18, 23]
5
lst[idx] 4
6
lst[idx] 17
modif: [11, 15, 9, 12, 15, 4, 15] -lost: [18, 23, 17]

#